<!-- make this private -->
<% if user_signed_in? %>
    <%= link_to 'Add A Team', new_team_path %>
<% end %>

<% @teams.each do |team| %>
    <div class="container">
        <h1><%= team.name %></h1>
        <td><%= link_to "Show", team %></td>
        <!-- make this private -->
        <% if user_signed_in? %>
            <td><%= link_to 'Update', edit_team_path(team) %></td>
        <% end %>
        <!-- make this private -->
        <% if user_signed_in? %>
            <td><%= link_to 'Destroy', team, confirm: 'Are you sure?', method: :delete %></td>
        <% end %>
        <hr size="3" noshade>
    </div>
<% end %>


<br />

