<%= form_for([@post, @post.comments.build]) do |f| %>	
  <div class="field">
    <%= f.label :"Display Name" %>
    <%= f.text_field :author, :placeholder => "Enter your name"%>
  </div>
  <div class="field">
    <%= f.label :"Your Comment" %>
    <%= f.text_area :body, :placeholder => "Enter comment", :size => "30x5" %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>