<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @article.Title %>
</p>

<p>
  <b>Body:</b>
  <%= @article.Body %>
</p>

<p>
  <b>Date:</b>
  <%= @article.Date %>
</p>


<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Back', articles_path %>
