<% if user_signed_in? %>
    <%= link_to 'Make new Post', new_post_path %>
<% end %>

<% @posts.each do |post| %>
    <div class="container">
        <h1><%= post.title %></h1>
        <p><b>by <%= post.author %></b></p>
        <p><b>Writen on: <%= post.created_at %></b></p>
        <p><%= post.content %></p>
        <td><%= link_to 'Read More', post %></td>
        <!-- make this private -->
        <% if user_signed_in? %>
            <td><%= link_to 'Edit', edit_post_path(post) %></td>
        <% end %>
        <!-- make this private -->
        <% if user_signed_in? %>
            <td><%= link_to 'Destroy', post, confirm: 'Are you sure?', method: :delete %></td>
        <% end %>
        <hr size="3" noshade>
    </div>
<% end %>
<!-- </table> -->

<br />


