<p id="notice"><%= notice %></p>

<p>
  <b>Author:</b>
  <%= @post.author %>
</p>

<p>
  <b>Title:</b>
  <%= @post.title %>
</p>

<p>
  <b>Date:</b>
  <%= @post.created_at %>
</p>

<p>
  <b>Content:</b>
  <%= @post.content %>
</p>


<!-- Display Comments  -->
<h2>Comments: </h2>
<%= render "comments/show" %>

<!-- Add comments -->
<h2>Add a comment:</h2>
<%= render "comments/form" %>


<% if user_signed_in? %>
	<%= link_to 'Edit', edit_post_path(@post) %> |
<% end %>
<%= link_to 'Back', posts_path %>
